body {
    background-color: #EEEEEE;
    margin: 0;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 20%;
}
a {
    color: #393E46;
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EEEEEE;
}
.top-container {
    color: #393E46;
    font-family: sans-serif;
    margin: 20px 0;
    padding: 20px;
    text-align: center; 
}
.top-h1 {
    color: #393E46;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    margin: 0;
}
.top-p{
    font-family:'Montserrat Alternates', sans-serif;;
    font-size: 20px;
}
.f1-img{
    width: 30%;
}
.middle-container {
    margin: 20px 0;
   text-align: center;
}
.middle-container img{
    width: 20%;
}
.middle-container h1{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    margin: 50px 0;
}
.middle-container p{
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 20px;
}
.bottom-container {
    margin: 20px 0;
    text-align: center;
}
.bottom-img{
    width: 20%;
}
.bottom-h1{
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    margin-top: 50px;
}
.bottom-p {
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 20px;
}
footer{
    background-color: #3c84d6;
    text-align: center;
    text-decoration: none;
}
.footer-h1{
    color: #393E46;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    padding-top: 40px;
}
.footer-p{
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.copyright{
    color: #393E46;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
}
